In [51]:
## Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Importing Citypy to Determone City Based on latitude and longitude
from citipy import citipy
import requests
from datetime import datetime
# Importing the config file for Gmaps and API url
from config import weather_api_key
import gmaps
from config import g_key

In [52]:
#getting data from the dataframe created in part 1
city_vacation_df = pd.read_csv("weather_data/weatherPy_vacation.csv")
#checking the Data
city_vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,4,Laguna,BZ,82.40,light rain,16.17,-88.94,Laguna Maya Lodge
1,5,Hofn,IS,45.79,light rain,64.25,-15.21,Hótel Höfn
2,6,Rikitea,PF,73.24,light rain,-23.12,-134.97,Pension Maro'i
3,22,Alofi,NU,71.60,light rain,-19.06,-169.92,Taloa Heights
4,23,Finschhafen,PG,79.92,light rain,-6.60,147.85,NaN

In [53]:
# Selecting a  4 city from One Continent

In [54]:
Olinda_data_df=city_vacation_df.loc[city_vacation_df["City"]=="Olinda"].copy()
Olinda_data_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
91,1028,Olinda,AU,54.0,light rain,-37.84,145.39,Mary Cards Coach House
96,1035,Olinda,AU,54.0,light rain,-37.84,145.39,Mary Cards Coach House
108,1138,Olinda,AU,54.0,light rain,-37.84,145.39,Mary Cards Coach House
155,1651,Olinda,AU,54.0,light rain,-37.84,145.39,Mary Cards Coach House
203,2164,Olinda,AU,54.0,light rain,-37.84,145.39,Mary Cards Coach House
421,4216,Olinda,AU,54.0,light rain,-37.84,145.39,Mary Cards Coach House

In [55]:
# Selecting a  4 city from One Continent 
Burnie_data_df=city_vacation_df.loc[city_vacation_df["City"]=="Burnie"].copy()
Burnie_data_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
11,100,Burnie,AU,51.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
56,613,Burnie,AU,51.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
110,1140,Burnie,AU,51.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
157,1653,Burnie,AU,51.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
205,2166,Burnie,AU,51.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
255,2679,Burnie,AU,51.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
312,3192,Burnie,AU,51.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
367,3705,Burnie,AU,53.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
423,4218,Burnie,AU,54.00,light rain,-41.05,145.91,Beachfront Voyager Motor Inn

In [56]:
#Getting Longitude and Latitude Combination
Hobart_data_df=city_vacation_df.loc[city_vacation_df["City"]=="Hobart"].copy()
Hobart_data_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
253,2662,Hobart,AU,51.01,light intensity shower rain,-42.88,147.33,St Ives Apartments
310,3175,Hobart,AU,51.01,light intensity shower rain,-42.88,147.33,St Ives Apartments
420,4201,Hobart,AU,52.00,light rain,-42.88,147.33,St Ives Apartments

In [57]:
#Getting Longitude and Latitude Combination
Mount_Gambier_data_df=city_vacation_df.loc[city_vacation_df["City"]=="Mount Gambier"].copy()
Mount_Gambier_data_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
263,2745,Mount Gambier,AU,52.2,light rain,-37.83,140.78,Best Western Southgate Motel
320,3258,Mount Gambier,AU,52.2,light rain,-37.83,140.78,Best Western Southgate Motel

In [58]:
#Getting Longitude and Latitude Combination
lat_lon =list(zip(Mount_Gambier_data_df['Lat'],Mount_Gambier_data_df['Lng']))
Mount_Gambier=lat_lon[0]
Mount_Gambier

(-37.83, 140.78)

In [59]:
lat_lon =list(zip(Olinda_data_df['Lat'],Olinda_data_df['Lng']))
Olinda=lat_lon[0]
Olinda

(-37.84, 145.39)

In [60]:
lat_lon =list(zip(Burnie_data_df['Lat'],Burnie_data_df['Lng']))
Burnie=lat_lon[0]
Burnie

(-41.05, 145.91)

In [61]:
lat_lon =list(zip(Hobart_data_df['Lat'],Hobart_data_df['Lng']))
Hobart=lat_lon[0]
Hobart

(-42.88, 147.33)

In [62]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [63]:
# Latitude-longitude pairs  and  checking direction layer map
fig = gmaps.figure()
Hobart_to_Burnie = gmaps.directions_layer(Burnie, Hobart)
fig.add_layer(Hobart_to_Burnie)
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
#using Direction Layer and WayPoints to get the Direction and marker
fig = gmaps.figure()
Hobert2Mount_gambir_via_Burnie_olinda = gmaps.directions_layer(
        Hobart, Mount_Gambier, waypoints=[(Burnie),(Olinda)],travel_mode='DRIVING')
fig.add_layer(Hobert2Mount_gambir_via_Burnie_olinda)
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
#Concatenating the Data Frame to create a new data frame 
new_city_summary=pd.concat([Mount_Gambier_data_df,Hobart_data_df,Burnie_data_df,Olinda_data_df],axis=0)
new_city_summary

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
263,2745,Mount Gambier,AU,52.20,light rain,-37.83,140.78,Best Western Southgate Motel
320,3258,Mount Gambier,AU,52.20,light rain,-37.83,140.78,Best Western Southgate Motel
253,2662,Hobart,AU,51.01,light intensity shower rain,-42.88,147.33,St Ives Apartments
310,3175,Hobart,AU,51.01,light intensity shower rain,-42.88,147.33,St Ives Apartments
420,4201,Hobart,AU,52.00,light rain,-42.88,147.33,St Ives Apartments
11,100,Burnie,AU,51.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
56,613,Burnie,AU,51.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
110,1140,Burnie,AU,51.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
157,1653,Burnie,AU,51.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
205,2166,Burnie,AU,51.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
255,2679,Burnie,AU,51.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
312,3192,Burnie,AU,51.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
367,3705,Burnie,AU,53.01,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
423,4218,Burnie,AU,54.00,light rain,-41.05,145.91,Beachfront Voyager Motor Inn
91,1028,Olinda,AU,54.00,light rain,-37.84,145.39,Mary Cards Coach House
96,1035,Olinda,AU,54.00,light rain,-37.84,145.39,Mary Cards Coach House
108,1138,Olinda,AU,54.00,light rain,-37.84,145.39,Mary Cards Coach House
155,1651,Olinda,AU,54.00,light rain,-37.84,145.39,Mary Cards Coach House
203,2164,Olinda,AU,54.00,light rain,-37.84,145.39,Mary Cards Coach House
421,4216,Olinda,AU,54.00,light rain,-37.84,145.39,Mary Cards Coach House

In [66]:
# For creating the Information box on the Map
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt> Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

In [67]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in new_city_summary.iterrows()]

In [68]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = new_city_summary[["Lat", "Lng"]]
max_temp =  new_city_summary["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))